.hero-section {
  height: 90vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
}
.hero-section-left {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  line-height: 1.1;
  padding-left: 180px;
}
.hero-section-left h2 {
  font-size: 26px;
  color: #090909;
  font-weight: 600;
}
.hero-section-left p {
  color: #171717;
  font-size: 80px;
  font-weight: 700;
}
.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-hand-icon img {
  width: 105px;
}
.hero-latest-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70;
  border-radius: 75px;
  margin-top: 30px;
  background-color: #ff4141;
  color: white;
  font-size: 22px;
  font-weight: 500;
  border: none;
  padding: 15px 5px;
}
.hero-section-right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.hero-section-right img {
  width: 400px;
}

@media (max-width: 1280px) {
  .hero-section-left {
    padding-left: 100px;
  }
  .hero-section-left h2 {
    font-size: 22px;
  }
  .hero-section-left p {
    font-size: 60px;
  }
  .hero-hand-icon img {
    width: 80px;
  }
  .hero-latest-button {
    gap: 10px;
    width: 220px;
    height: 40px;
    margin-top: 20px;
    font-size: 18px;
  }
  .hero-section-right img {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  .hero-section-left {
    padding-left: 80px;
  }
  .hero-section-left h2 {
    font-size: 20px;
  }
  .hero-section-left p {
    font-size: 50px;
  }
  .hero-hand-icon img {
    width: 65px;
  }
  .hero-latest-button {
    width: 220px;
    height: 50px;
    font-size: 16px;
  }
  .hero-section-right img {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .hero-section-left {
    padding-left: 20px;
  }
  .hero-section-left h2 {
    font-size: 16px;
  }
  .hero-section-left p {
    font-size: 40px;
  }
  .hero-hand-icon img {
    width: 50px;
  }
  .hero-latest-button {
    width: 175px;
    height: 40px;
    font-size: 13px;
  }
  .hero-section-right img {
    width: 250px;
  }
}

@media (max-width: 500px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-section-right {
    display: none;
  }
  .hero-section-left h2 {
    font-size: 18px;
  }
  .hero-section-left p {
    font-size: 50px;
  }
  .hero-hand-icon img {
    width: 55px;
  }
  .hero-latest-button {
    font-size: 14px;
    width: 200px;
    height: 45px;
  }
}
