.news-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  width: 65%;
  flex-direction: column;
  height: 40vh;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 100px;
  gap: 30px;
  border-radius: 5px;
}

.news-letter h1 {
  color: #454545;
  font-size: 36px;
  font-weight: 600;
}
.news-letter p {
  color: #454545;
  font-size: 22px;
}

.news-letter div {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  width: 660px;
  border-radius: 60px;
  border: 1px solid #e3e3e3;
}

.news-letter input {
  border: none;
  outline: none;
  margin-left: 22px;
  width: 500px;
  color: #161616;
  font-family: poppins;
  font-size: 16px;
}
.news-letter div button {
  outline: none;
  width: 180px;
  height: 60px;
  border-radius: 60px;
  background-color: black;
  font-size: 16px;
  color: white;
}

@media (max-width: 1280px) {
  .news-letter {
    padding: 0px 80px;
    margin-bottom: 120px;
    gap: 20px;
  }
  .news-letter h1 {
    font-size: 36px;
  }
  .news-letter p {
    font-size: 16px;
  }
  .news-letter div {
    width: 600px;
    height: 60px;
  }
  .news-letter div input {
    width: 400px;
  }
  .news-letter div button {
    width: 160px;
    height: 60px;
  }
}

@media (max-width: 1024px) {
  .news-letter {
    margin-bottom: 60px;
    padding: 0px 60px;
  }
  .news-letter h1 {
    font-size: 24px;
  }
  .news-letter p {
    font-size: 14px;
  }
  .news-letter div {
    width: 500px;
    height: 50px;
  }
  .news-letter div input {
    width: 300px;
    font-size: 14px;
  }
  .news-letter div button {
    width: 120px;
    height: 50px;
  }
}

@media (max-width: 800px) {
  .news-letter {
    height: 35vh;
    padding: 0px 40px;
    margin-bottom: 30px;
    width: 80%;
  }
  .news-letter h1 {
    font-size: 22px;
  }
  .news-letter p {
    font-size: 14px;
  }
  .news-letter div {
    width: 400px;
    height: 40px;
  }
  .news-letter div input {
    width: 200px;
    font-size: 13px;
  }
  .news-letter div button {
    width: 100px;
    height: 40px;
  }
}

@media (max-width: 500px) {
  .news-letter {
    height: 35vh;
    width: 90%;
    padding-top: 10px;
    gap: 15px;
  }

  .news-letter h1 {
    font-size: 20px;
    text-align: center;
  }
  .news-letter p {
    font-size: 13px;
    max-width: 200px;
    text-align: center;
  }
  .news-letter div {
    width: 290px;
  }
  .news-letter div input {
    width: 130px;
  }
}
